
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Open+Sans:ital,wght@0,300;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@100;400;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
header{
    padding: 20px;
    background-color: #f0f0f0;
    position:fixed ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 999;
}
header .logo{
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: #3a6cf4;
}
header nav a{
    text-decoration: none;
    padding-left: 10px;
    font-size: 1.1em;
    font-weight: 500;
    color: #3a6cf4;
    transition: 0.5s;
}
header nav a:hover{
    color: #601cfc;
}
 section{
    padding: 100px 200px;
}


.main{
    background-image: url("../images/background.jpeg") ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   min-height: 100vh;
   width: 100%;
    display: flex;
    align-items: center;
    
    background-attachment: fixed;
 
}

.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
    

}

section h2 span{
    display: block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
    
}
section h3{
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}
section .main-btn{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color:   #3a6cf4;
    display: block;
    margin-bottom: 40px;
    width: fit-content;
    border-radius: 15px;
    font-size: 1.1em;
    transition: 0.5s;
    font-weight: 600;
}

section .main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}


section .title{
    color:  #0a49f6;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}
.serv .content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
}
@media(max-width:767px) {
    .serv .content{
       display: flex;
       flex-direction: column;
    }
}
.serv .content .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  0 5px 25px #cac4c4;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
}
.serv .content .box:hover{
    transform: scale(1.1)
}
.serv .content .box .icon{
    font-size: 100px;
    color:  #0a49f6;
    font-weight: bold;
    margin: 0;
}
.serv .content .box .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.serv .content .box .text h2{
    color:  #0a49f6;
    font-size: 16px;
}
.serv .content .box .text  p{
    padding: 15px;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}
.pro{
    background-color: #000016;
}
.pro .contentproject{
    margin:40px auto ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
    min-height: 14em;
}
@media(max-width:767px) {
    .pro .contentproject{
       display: flex;
       flex-direction: column;
    }
}
.pro .contentproject .cont{
    background-color: white;
    
    text-align: center;
    width: 330px;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.5s;
    overflow: hidden;

}
.pro .contentproject .cont:hover{
    transform: scale(1.1)
}
.pro .contentproject .img:hover{
    opacity: 0.9;
}
.pro .contentproject .cont p{
    margin-top: 10px;
    text-align: left;
    padding: 5px;
   text-transform: capitalize;
   color: #333;
}
.pro .contentproject .cont .inf{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.pro .contentproject .cont h2{

    font-size: 15px;
    text-transform: uppercase;
}
.pro .contentproject .cont  .more a{
    color:#0a49f6;
    text-decoration: none;
    transition: 0.5s;

}

.pro .contentproject img{
    width: 100%;
}
.together .content{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    }
    @media(max-width:767px) {
       
.together .content{
           display: flex;
           flex-direction: column;
        }
    }
    .together .content .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow:  0 5px 25px #cac4c4;
        border-radius: 10px;
        transition: 0.5s;
        text-align: center;
        padding: 20px 50px;
        width: 300px;
    }
    .together .content .box .icon{
        font-size: 50px;
        color:  #0a49f6;
        font-weight: bold;
        margin: 0;
    }
    .together .content .text h2{
        text-transform: capitalize;
        /* padding: 10px 20px; */
        color:  #0a49f6;
    }
    .together .content .text p{
        padding: 10px 20px;
    }
    .together .content .box:hover{
        transform: scale(1.1)
    }
    footer{
        background-color: #000016;
        padding: 20px;
    }
    footer .foot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    footer .foot p{
        color: white;
        text-transform: capitalize;
        font-size: 14px;
    }
    
    footer .foot p span{
        color: #0a49f6;
    }
    footer .foot .social-icons a{
        font-size: 14px;
        padding-right: 5px;
    }




    
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}